.container-fluid {
    width:100%;
    max-width: 1280px;
    margin: 0 auto;
}

[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: relative;
  opacity: inherit;
  pointer-events: inherit;
}

.masonry-container {
    column-count: 5;
    column-gap: 2px; /** change this if you want a gap */
}
.masonry-item {
    display: block; /** change to inline-block if you want a gap */
    margin-bottom:2px;
    width: 100%;
}
.masonry-item img {
    display:block;
    width: 100%;
}

.category-item {
    cursor: pointer;
}

.category-item.col {
    padding:1px;
}

.category-item p {
    margin:0;
    font-size: 0.8em;
}

.category-item > img {
    width:100%;
}

.category-container {
    width:70%;
}

.category-header {
    width:97%;
    position:relative;
    margin: 0 auto;
}

.category-header a {
    position:absolute;
    bottom:0%;
    right:0;
    font-style: none;
    color: var(--black);
}
   
/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}