:root {
    --white: #fff;
    --black: #000000;
    --dark-background:#222;
}

html, body {
    background-color:var(--white);
    width:100%;
    height:auto;
    margin:0;
    padding:0;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position:inherit;
    opacity: initial;
}
#loginButton{
    display:block;
    padding:0.35em 1.2em;
    margin:0 0.3em 0.3em 0;
    text-decoration:none;
    color:#FFFFFF;
    background-color: black;

}
.psw{
    display:block;
}
#app{
    margin-top:10%
}

.bearlogo {
    width:100%;
    display:block;
    margin:0 auto;
    margin-top:10px;
    margin-bottom:10px;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
    .bearlogo {
        width:auto;
    }
}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}